.banner-principal-decorativo
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    left: 70%

  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 45%
    left: 5%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 35%
  
.banner-principal .tarjeta 
  img, svg 
    display: block;
    border-style: hidden;
  figure, picture, img, svg 
    margin: 0;
    width: 100%;
    max-width: 100%;

.banner-principal__row 
    justify-content: space-evenly;

@media (min-width: 576px) 
    .ps-sm-5 
        padding-left: 7rem !important;
@media (min-width: 576px) 
    .py-sm-5 
        padding-top: 3rem !important;
        padding-bottom: -4rem !important;
    

.tarjeta.color-acento-conte--borde
    background-color: #E9F9F5;
    border-radius: 10px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  


.fondo-gris
  background-color: #F6F6F6 !important

.fondo-color-primario
  background-color: $color-primario !important

.texto-color-primario
  color: $color-primario !important

.fondo-color-secundario
  background-color: $color-secundario !important

.texto-color-secundario
  color: $color-secundario !important

.fondo-color-acento-contenido
  background-color: $color-acento-contenido !important

.texto-color-acento-contenido
  color: $color-acento-contenido !important

.fondo-color-acento-botones
  background-color: $color-acento-botones !important

.texto-color-acento-botones
  color: $color-acento-botones !important

.fondo-blanco
  background-color: #FFFFFF !important

.fondo-a
  background-color: #FBF8ED !important

.fondo-b
  background-color: #FFE5E5 !important

.fondo-c
  background-color: #F6F0D5 !important

.fondo-d
  background-color: #EDE3B7 !important

.fondo-e
  background-color: #F7F1D7 !important

.fondo-f
  background-color: #FFEAD4 !important

.sombra 
  -webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.10)
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.10)

.sombra2
  -webkit-box-shadow: 2px 2px 3px 3px rgba(247,241,215,0.6)
  box-shadow: 2px 2px 3px 3px  rgba(247,241,215,0.6)

.sombra3
  -webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.06)
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.06)

.alto
  min-height: 100px
  
.lista-ol--separador li, .lista-ul--separador li 
  padding-bottom: 15px
  margin-bottom: 15px
  border-bottom: solid 2px #EDE3B7

.borde-a 
  border-bottom: solid 2px #EDE3B7
  border-top: solid 2px #EDE3B7



.texto-blanco
  color: white !important

.texto-negro
  color: $color-sistema-texto !important

.borde-redondo
  border-radius: 15px

.relativo1   
  position: relative  
  margin-left: -25px
  margin-right: -120px
  z-index: 1

.z-index-front
  z-index: 100

iframe
  border-radius: 10px

.w-30
  width: 30% !important 

.w-35
  width: 35% !important 

.w-55
  width: 55% !important 

.w-60 
  width: 60% !important 

.w-65 
  width: 65% !important 

.w-85 
  width: 85% !important

.w-90
  width: 90% !important

.w-95
  width: 95% !important

.h3.mb-2.mb-md-0
  font-size: 13px
  font-weight: bold

.slyder__btn 
  display: block
  width: 30px
  height: 30px
  position: relative
  background-color: #e8e8e8
  color: $color-sistema-texto !important
  margin-left: 15px


.bloque-texto-a.color-primario 
    background-color: #F5F5F2

///import css-variables from 

.cajaverde
  background-color: #BAEFE4
  border-radius: 18px
  
  
.bg1
  background: url('../assets/curso/bg1.svg')
  border-radius: 15px
  background-size: 100% 120%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem 
  
.titulo-principal__numero span 
    color: #060606;

.bg2
  background: url('../assets/curso/tema1/bg2.png')
  border-radius: 15px
  background-size: 100% 120%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem 
  

.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

.cajaverdec
  background-color: #EEFBF8

.titulo-sexto.color-acento-contenido 
    border-left: 10px solid #BAEFE4
    padding: 3px 0px 3px 10px;

.tarjeta.color-acento-conte--borde
    background-color: #E9F9F5;
    border-radius: 10px

.cajarosa
  background-color: #FEF0EC;
  border-radius: 20px

.text-black
  color: black

.boton *, .boton--sm * 
    color: #080707;

.caja1 
  background-color: #FEF5F3


.texto-imagenes
  background-color: #F8E2DC

.cajarosaa
  background-color: #F6EFEC

.cajaroj
  background-color: #F7D7CE

.cajablanca
  background-color: #fff

.titulo-segundo.tit:after 
    content: '';
    display: block;
    height: 3px;
    width: 140px;
    border-left: solid 50px;
    border-left-color: #55d3c7;